.clients {
  &__inner {
    padding: 78px 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
  }

  &__box {
    align-self: stretch;

    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 58px;
  }

  &__img {
  }

  &__link {
  }
}
