.comments {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  .slick-list {
    padding-top: 75px;
  }

  .slick-slide + .slick-slide {
    margin-left: 0px !important;
  }

  &__inner {
    padding-top: 76px;
    padding-bottom: 90px;
  }

  &__title {
    max-width: none;
    text-align: center;
    margin-bottom: 49px;
  }

  &__slider {
    position: relative;
    padding-bottom: 58px;
    text-align: center;
    &::before {
      position: absolute;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 75px);
      box-shadow: 0px 30px 60px rgba(45, 151, 234, 0.4);
      border-radius: 10px;
      background-color: $white;
      z-index: 0;
    }
  }

  &__slider-box {
  }

  &__nav-left {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
  }

  &__nav-right {
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
  }

  &__item {
    z-index: 0;
    text-align: center;
    position: relative;
    padding: 100px 220px 0px 220px;
  }

  // &__img-box {
  //   height: 75px;
  // }

  &__img {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 50%;

    transform: translate(-50%, -50%);
    margin: 0 auto;
    margin-bottom: 25px;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 2px;
  }

  &__position {
    font-size: 18px;
    line-height: 140%;
    color: $grey;
    margin-bottom: 43px;
  }

  &__text {
    text-align: left;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 49px;
  }

  &__link {
    z-index: 2;
    position: relative;
  }
}
