.slider {
  .slick-slide {
    width: 400px;
  }

  .slick-slide + .slick-slide {
    margin-left: 40px !important;
  }

  &__inner {
    padding: 80px 0 60px;
  }

  &__subtitle {
    color: $grey;
  }

  &__title {
    color: $grey-dark;
    margin-bottom: 38px;
  }

  &__nav-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__nav-left {
  }

  &__nav-right {
    margin-left: 25px;
  }

  &__link {
    margin-left: 25px;
  }

  &__box {
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 33px 40px 40px 40px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  &__item-title {
    font-family: Ruda;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: $white;
    line-height: 29px;
  }

  &__item-link {
    color: $white;
  }
}
