@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&family=Nunito:wght@700;800&family=Ruda:wght@700;900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $grey-dark;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  user-select: none;
  &:active,
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1320px;
  &--full {
    padding: 0px !important;
    max-width: 1320px;
  }

  &--mobile {
    padding: 0px 30px;
  }
}

.container-fluid {
  margin: 0 auto;
  padding: 0px;
  max-width: none;
}

.logo {
  width: 144px;
  height: 30px;
}
.btn {
  font-weight: 500;
  color: $white;
  background-color: $blue;
  border-radius: 100px;
  display: inline-block;
  &--outline {
    background-color: transparent;
    border: 2px solid $blue;
  }

  user-select: none;
}

.social {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: 20px;
    }
  }

  &__link {
    display: block;
  }
}

.menu {
  display: flex;
  align-items: baseline;

  &--mobile {
    flex-direction: column;
    align-items: flex-start;
    .menu__item {
      margin-left: 0px !important;
      margin-bottom: 30px !important;
    }

    .menu__item--active .menu__link {
      color: $grey-dark !important;
    }
  }

  &__item {
    cursor: pointer;
    user-select: none;
    & + & {
      margin-left: 24px;
    }

    &--active {
      .menu__link {
        color: $blue;
        transition: all 0.2s;
        &::after {
          transform: rotate(180deg) translateY(-20%) !important;
          transition: all 0.2s;
        }
      }
    }

    &--sub-menu {
      position: relative;
      padding-right: 16px;
      .menu__link {
        transition: all 0.2s;
        &::after {
          content: url(../img/arrow-down-small.svg);
          position: absolute;
          display: block;
          top: 0px;
          right: 0px;
          transform: rotate(0deg) translateY(-10%);
          transition: all 0.2s;
        }
      }
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    color: $grey-dark;
    font-weight: 500;
    font-size: 14px;
  }
}

.menu-over {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  z-index: 3;
  width: 100%;
  content: '';
  display: block;
  background: $grey-dark;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &--active {
    visibility: visible;
    opacity: 0.5;
  }
}

.menu-btn {
  display: none;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 18px;
  &__line {
    height: 4px;
    background-color: $grey-dark;
    border-radius: 2px;
  }

  &--close {
    width: 24px;
    height: 24px;
    position: relative;
    .menu-btn__line {
      width: 30px;
      &:first-child {
        position: absolute;
        top: 10px;
        transform: rotateZ(45deg);
      }

      &:last-child {
        top: 10px;
        position: absolute;
        transform: rotateZ(-45deg);
      }
    }
  }
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  z-index: -1;
  //transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
  // z-index 0s linear 0.01s;
  position: absolute;
  top: 46px;
  right: -35px;
  border-top: 2px solid $blue;
  box-shadow: 0px 10px 20px rgba(52, 52, 64, 0.5);
  border-radius: 0px 0px 10px 10px;
  background-color: $white;
  padding: 16px 20px;
  transition: all 0.2s;
  &--active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }

  &--mobile {
    // overflow: hidden;
    // height: 0px;
    // visibility: visible;

    opacity: 1;
    transform: none;
    z-index: auto;
    position: static;
    top: 0px;
    right: 0px;
    border-top: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    transition: all 0.2s;
    background-color: transparent;

    .sub-menu--active {
      height: 100px !important;
      overflow: visible;
    }

    .sub-menu__item {
      margin-top: 30px !important;
      margin-left: 30px;
    }
  }

  &__item {
    & + & {
      margin-top: 10px;
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    color: $grey-dark;
    font-weight: 500;
    font-size: 14px;

    &::after {
      display: none !important;
    }
  }
}

.slick-list {
  //margin-right: -40px;
}

.title {
  color: $grey-dark;
  font-family: Ruda;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 56px;
  max-width: 950px;
}

.title-h2 {
  font-family: Ruda;
  font-style: normal;
  font-weight: 900;
  font-size: 33px;
  line-height: 44px;
  color: $grey-dark;
}

.link {
  font-weight: 600;
  font-size: 18px;
  color: $blue;
  display: inline-block;
  //white-space: nowrap;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: $blue;
  }

  &--small {
    font-weight: 400;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 1px), $blue 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    //border-bottom: 1px solid $blue;
    display: inline;
    &::after {
      display: none;
    }
  }
}

.subtitle {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.nav {
  position: relative;
  border-radius: 50%;
  border: 2px solid #2d97ea;
  width: 48px;
  height: 48px;
  cursor: pointer;
  &::after {
    width: 9px;
    height: 16px;
    content: '';
    mask-size: cover;
    background-color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav-left {
  &::after {
    mask: url(../img/arrow-left.svg);
  }
}

.nav-right {
  &::after {
    mask: url(../img/arrow-right.svg);
  }
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  &__item {
    margin-right: 15px;
  }

  &__link {
    line-height: 22px;

    &--active {
      opacity: 0.5;
      &::after {
        display: none;
      }
    }
  }
}

.slider-img {
  .slick-dots {
    text-align: center;
    margin-top: 40px;
    & button {
      padding: 0;
      font-size: 0;
      margin: 0;
      width: 16px;
      height: 16px;
      border: none;
      background-color: $blue;
      border-radius: 50%;
    }

    > li:only-child {
      display: none;
    }
    & li + li {
      margin-left: 16px;
    }
    li {
      cursor: pointer;
      display: inline-block;
    }
    .slick-active {
      button {
        background-color: transparent;
        border: 3px solid $blue;
      }
    }
  }
}

.aside-info {
  width: 290px;
  background-color: $grey-light;
  border-radius: 10px;
  padding: 24px 24px 20px 24px;
  &::before {
    content: url(../img/info.svg);
    margin-bottom: 12px;
    display: block;
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: $blue;
    white-space: normal;
    width: 100%;
    background-image: linear-gradient(transparent calc(100% - 1px), $blue 1px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    display: inline;

    &--small {
      font-weight: 400;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    span {
      font-weight: 600;
    }
  }
}

.article {
  & + & {
    margin-top: 79px;
  }

  &__article-inner {
  }

  &__title {
    margin-bottom: 32px;
    max-width: 840px;
  }

  &__list-number {
    counter-reset: article-list-number;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-avatar {
  }

  &__user-content {
    margin-left: 40px;
  }

  &__user-subname {
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grey;
    margin-bottom: 2px;
  }

  &__user-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 2px;
  }

  &__user-position {
    font-size: 18px;
    line-height: 140%;
  }

  &__slider {
    margin-top: 54px;
    margin-bottom: 50px;
  }

  &__slider-item {
  }

  &__slider-item-img {
    margin-bottom: 30px;
  }

  &__slider-item-title {
    line-height: 150%;
    text-align: center;
    color: $grey;
  }

  &__list-number-item {
    & + & {
      margin-top: 36px;
    }

    span {
      line-height: 150%;
      font-weight: bold;
    }

    line-height: 150%;
    counter-increment: article-list-number;
    position: relative;

    &::before {
      display: inline;
      position: absolute;

      text-align: right;
      vertical-align: top;
      content: counter(article-list-number) '. ';
      font-weight: bold;
      font-size: 16px;

      color: $magenta;
    }
  }

  &__list-number-item-text {
    display: inline-block;
    padding-left: 70px;
  }

  &__content {
    display: grid;
    grid-template-columns: 840px auto;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__box {
  }

  &__top {
  }

  &__bottom {
  }

  &__boost-box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }

  &__boost-item {
    padding: 23px 30px 0 30px;
    border-top: 5px solid $grey-light;
    border-radius: 5px 5px 0px 0px;
  }

  &__boost-number {
    margin-bottom: 9px;
    font-family: Ruda;
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 44px;
    color: $magenta;
  }

  &__boost-text {
    font-size: 18px;
    line-height: 150%;
  }

  &__bottom-title {
    font-family: Ruda;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 34px;
  }

  &__nav {
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 54px;
    a {
      font-size: 16px;
    }
  }
}
