@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&family=Nunito:wght@700;800&family=Ruda:wght@700;900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $grey-dark;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  user-select: none;
  &:active,
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1320px;
  &--full {
    padding: 0px !important;
    max-width: 1320px;
  }

  &--mobile {
    padding: 0px 30px;
  }
}

.container-fluid {
  margin: 0 auto;
  padding: 0px;
  max-width: none;
}

.logo {
  width: 144px;
  height: 30px;
}
.btn {
  font-weight: 500;
  color: $white;
  background-color: $blue;
  border-radius: 100px;
  display: inline-block;
  &--outline {
    background-color: transparent;
    border: 2px solid $blue;
  }

  user-select: none;
}
.social {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: 20px;
    }
  }

  &__link {
    display: block;
  }

  &__link-facebook {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__link-vk {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__link-youtube {
    svg {
      width: 26px;
      height: 18px;
    }
  }
}

.menu {
  display: flex;
  align-items: baseline;

  &--mobile {
    flex-direction: column;
    align-items: flex-start;
    .menu__item {
      margin-left: 0px !important;
      margin-bottom: 30px !important;
    }

    .menu__item--active .menu__link {
      color: $grey-dark !important;
    }
  }

  &__item {
    cursor: pointer;
    user-select: none;
    & + & {
      margin-left: 24px;
    }

    &--active {
      .menu__link {
        color: $blue;
        transition: all 0.2s;
        &::after {
          transform: rotate(180deg) translateY(-20%) !important;
          transition: all 0.2s;
        }
      }
    }

    &--sub-menu {
      position: relative;
      padding-right: 16px;
      .menu__link {
        transition: all 0.2s;
        &::after {
          content: url(../img/arrow-down-small.svg);
          position: absolute;
          display: block;
          top: 0px;
          right: 0px;
          transform: rotate(0deg) translateY(-10%);
          transition: all 0.2s;
        }
      }
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    color: $grey-dark;
    font-weight: 500;
    font-size: 14px;
  }
}

.menu-over {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  z-index: 3;
  width: 100%;
  content: '';
  display: block;
  background: $grey-dark;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &--active {
    visibility: visible;
    opacity: 0.5;
  }
}

.menu-btn {
  display: none;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 18px;
  &__line {
    height: 4px;
    background-color: $grey-dark;
    border-radius: 2px;
  }

  &--close {
    width: 24px;
    height: 24px;
    position: relative;
    .menu-btn__line {
      width: 30px;
      &:first-child {
        position: absolute;
        top: 10px;
        transform: rotateZ(45deg);
      }

      &:last-child {
        top: 10px;
        position: absolute;
        transform: rotateZ(-45deg);
      }
    }
  }
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  z-index: -1;
  //transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
  // z-index 0s linear 0.01s;
  position: absolute;
  top: 46px;
  right: -35px;
  border-top: 2px solid $blue;
  box-shadow: 0px 10px 20px rgba(52, 52, 64, 0.5);
  border-radius: 0px 0px 10px 10px;
  background-color: $white;
  padding: 16px 20px;
  transition: all 0.2s;
  &--active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }

  &--mobile {
    // overflow: hidden;
    // height: 0px;
    visibility: visible;
    opacity: 1;
    transform: none;
    z-index: auto;
    position: static;
    top: 0px;
    right: 0px;
    border-top: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    transition: all 0.2s;
    background-color: transparent;

    .sub-menu--active {
      height: 100px !important;
      overflow: visible;
    }

    .sub-menu__item {
      margin-top: 30px !important;
      margin-left: 30px;
    }
  }

  &__item {
    & + & {
      margin-top: 10px;
    }
  }

  &__link {
    display: block;
    white-space: nowrap;
    color: $grey-dark;
    font-weight: 500;
    font-size: 14px;
  }
}

.slick-list {
  //margin-right: -40px;
}

.title {
  color: $grey-dark;
  font-family: Ruda;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 56px;
  max-width: 950px;
}

.link {
  font-weight: 600;
  font-size: 18px;
  color: $blue;
  display: inline-block;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: $blue;
  }

  &--small {
    font-weight: 400;

    &::after {
      height: 1px;
      margin-top: 0px;
    }
  }
}

.subtitle {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.nav {
  position: relative;
  border-radius: 50%;
  border: 2px solid #2d97ea;
  width: 48px;
  height: 48px;
  cursor: pointer;
  &::after {
    width: 9px;
    height: 16px;
    content: '';
    mask-size: cover;
    background-color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav-left {
  &::after {
    mask: url(../img/arrow-left.svg);
  }
}

.nav-right {
  &::after {
    mask: url(../img/arrow-right.svg);
  }
}
