@media (max-width: 1320px) {
  .container {
    padding: 0 40px;
  }

  .header {
    background-image: url('../img/header-bg-960.png');
  }

  .footer {
    &__inner {
      flex-direction: column;
      padding-bottom: 21px;
    }
    &__contact-box {
      justify-content: space-between;
      grid-template-columns: repeat(2, 420px);

      & div:nth-of-type(1) {
        order: 0;
      }

      & div:nth-of-type(2) {
        margin-top: 28px !important;
        order: 2;
      }

      & div:nth-of-type(3) {
        order: 1;
      }

      & ul:nth-of-type(1) {
        order: 3;
      }
    }

    &__contact-item {
      margin-top: 0px !important;
    }

    &__social {
      margin-top: 30px !important;
    }

    &__list-box {
      justify-content: space-between;
      grid-template-columns: repeat(2, 420px);
      grid-template-rows: repeat(2, auto);
      margin-top: 45px;
    }

    &__list-content {
      grid-row: auto !important;
      grid-column: auto !important;
      margin: 0px !important;
    }
  }

  .aside-info {
    width: 420px;
  }

  .article {
    & + & {
      margin-top: 50px;
    }

    &__content {
      grid-template-columns: 100%;
    }

    &__top {
      width: 100%;
    }

    &__bottom {
    }

    &__boost-box {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0;
      grid-row-gap: 25px;
    }
  }
}

@media (max-width: 1260px) {
  .header {
    &__top-inner {
      padding: 20px 40px;

      &--mobile {
        display: block !important;
      }
    }

    &__nav {
      display: none;
    }

    &__logo {
      margin-right: auto;
    }

    .menu-btn {
      display: flex;
    }
  }
}

@media (max-width: 960px) {
  .header {
    background-image: url('../img/header-bg-640.png');

    &__bottom-inner {
      padding: 46px 0 48px;
    }

    &__home-bottom-inner {
      padding: 50px 0 60px;
    }

    &__home-bottom-text {
      font-size: 18px;
    }

    &__login {
      display: none;
    }

    &__menu-btn {
      margin-left: 20px;
    }

    &__social {
      display: none;
    }

    &__top-inner {
      &--mobile {
        .header__social {
          display: flex;
        }

        .header__login {
          display: block;
        }
      }
    }
  }

  .footer {
    &__contact-box,
    &__list-box {
      grid-template-columns: repeat(2, 260px);
    }
  }

  .aside-info {
    width: 100%;
  }

  .article {
    &__boost-box {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .header {
    &__top-inner {
      padding: 20px 30px;
      &--mobile {
        .header__tel {
          display: block;
        }
        .header__top-btn {
          display: block;
        }
      }
    }

    &__bottom-inner {
      padding: 33px 0px 33px;
    }

    &__bottom-title {
    }

    &__bottom-nav {
      margin-top: 24px;
      margin-bottom: 7px;
    }

    &__home-bottom-inner {
      padding: 30px 0 40px;
    }

    &__home-bottom-title {
      margin-bottom: 24px;
    }

    &__home-bottom-text {
      font-size: 16px;
      margin-bottom: 35px;
    }

    &__tel {
      display: none;
    }
    &__top-btn {
      display: none;
    }
  }

  .list {
    flex-direction: column;
  }

  .footer {
    &__inner {
      padding: 33px 0 10px;
    }

    &__contact-box {
      grid-template-columns: auto;
    }

    &__contact-item {
      & + & {
        margin-top: 28px !important;
      }
    }

    &__social {
      margin-top: 35px !important;
    }

    &__list-box {
      margin-top: 40px;
      grid-template-columns: auto;
    }
  }

  .article {
    & + & {
      margin-top: 33px;
    }

    &__title {
      margin-bottom: 23px;
    }

    &__boost-box {
      grid-row-gap: 30px;
    }

    &__boost-item {
      padding: 23px 0 0;
    }

    &__boost-number {
      font-size: 26px;
      line-height: 34px;
    }

    &__bottom-title {
      margin-bottom: 24px;
    }

    &__text {
      margin-bottom: 34px;
    }

    &__list-number-item-text {
      padding-left: 30px;
    }

    .aside-info {
      margin-bottom: 40px;
    }
  }

  .title-h2 {
    font-size: 22px;
    line-height: 29px;
  }

  .title {
    font-size: 22px;
    line-height: 29px;
  }

  .container {
    padding: 0 30px;
  }
}

@media (max-width: 340px) {
  .header {
    &__home-bottom-btn {
      text-align: center;
      width: 100%;
    }
    &__home-bottom-title {
      span {
        display: block;
      }
    }
  }
}
