@media (max-width: 1320px) {
  .container {
    padding: 0 40px;
  }
  .header {
    background-image: url('../img/header-bg-960.png');
  }

  .reason {
    .slick-slide {
      width: 727px;
    }
    padding: 60px 0 40px;
    &__top {
      .container {
        position: static;
      }
    }

    &__slider {
      padding: 0px;
      width: 727px;
      margin-left: 0;
      margin-bottom: 60px;
    }

    &__slider-item {
      max-width: 727px;
    }
    &__text {
      max-width: 727px;
    }

    &__img {
      width: auto;
      max-width: none;
    }

    &__expander-box {
      grid-template-columns: 100%;
      grid-gap: 20px;
    }

    &__expander-title {
      width: auto;
    }
  }
}

@media (max-width: 1260px) {
  .header {
    &__top-inner {
      padding: 20px 40px;
    }

    &__nav {
      display: none;
    }

    &__logo {
      margin-right: auto;
    }

    .menu-btn {
      display: flex;
    }
  }

  .slider {
    .slick-slide {
      width: 350px;
      height: 350px;
    }
    &__inner {
      padding: 52px 0px;
    }
  }
}

@media (max-width: 960px) {
  .header {
    background-image: url('../img/header-bg-640.png');

    &__bottom-inner {
      padding: 50px 0 60px;
    }

    &__text {
      font-size: 18px;
    }

    &__login {
      display: none;
    }

    &__menu-btn {
      margin-left: 20px;
    }

    &__social {
      display: none;
    }
  }

  .slider {
    .slick-slide {
      width: 300px;
      height: 300px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__nav-box {
      margin-bottom: 40px;
    }

    &__item-title {
      font-size: 22px;
    }
  }

  .reason {
    padding: 53px 0px 40px;
    &__top-title {
      margin-bottom: 30px;
    }

    &__nav-box {
      margin-bottom: 20px;
    }

    &__slider-item-text {
      margin-bottom: 35px;
    }

    &__slider {
      margin-bottom: 40px;
    }

    &__bottom-title {
      margin-bottom: 37px;
    }
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .reason {
    .slick-slider {
      width: 560px;
    }

    &__slider-item {
      max-width: 560px;
    }

    &__slider {
      width: 560px;
    }
  }
}

@media (max-width: 640px) {
  .header {
    &__top-inner {
      padding: 20px 30px;
    }

    &__bottom-inner {
      padding: 30px 0 40px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 35px;
    }

    &__tel {
      display: none;
    }
    &__top-btn {
      display: none;
    }
  }

  .slider {
    .slick-slide {
      width: 230px;
      height: 230px;
    }

    .slick-slide + .slick-slide {
      margin-left: 30px;
    }

    &__inner {
      padding: 40px 0;
    }

    &__subtitle {
      font-size: 16px;
    }
    &__title {
      margin-bottom: 14px;
    }

    &__item {
      padding: 26px 30px 30px 30px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__link {
      margin-left: 0;
    }

    &__nav {
      display: none;
    }
  }

  .reason {
    .slick-slider {
      width: 260px;
    }

    &__slider-item {
      max-width: 260px;
    }

    &__slider {
      width: 260px;
    }

    padding: 34px 0px 40px;
    &__top-title {
    }

    &__slider-item-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    &__slider-item-btn {
      display: block;
      text-align: center;
    }

    &__nav-box {
      margin-bottom: 25px;
    }

    &__expander-box {
      grid-gap: 10px;
    }

    &__expander-item {
      height: 78px;
      padding: 0 20px;
    }

    &__expander-arrow {
      margin-left: 20px;
    }
    &__slider-item-title {
      line-height: 27px;
    }

    &__expander-title {
      font-size: 16px;
    }

    &__img {
      display: none;
    }
    &__text {
      font-size: 18px;
    }
    &__slider {
      margin-bottom: 34px;
    }

    &__bottom-title {
      margin-bottom: 23px;
    }

    &__text {
      margin-bottom: 35px;
    }
  }

  .title {
    font-size: 22px;
    line-height: 29px;
  }

  .container {
    padding: 0 30px;
  }
}

@media (max-width: 340px) {
  .header {
    &__bottom-btn {
      text-align: center;
      width: 100%;
    }
    &__title {
      span {
        display: block;
      }
    }
  }

  .reason {
    &__slider-item-btn {
      line-height: 22px;
      border-radius: 30px;
    }
  }
}

@media (max-width: 320px) {
}
