.slider {
  &__inner {
    padding: 80px 0 60px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $grey;
    text-transform: uppercase;
  }

  &__title {
    color: $grey-dark;
    margin-bottom: 38px;
    max-width: 950px;
  }

  &__nav-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__nav {
    position: relative;
    border-radius: 50%;
    border: 2px solid #2d97ea;
    width: 48px;
    height: 48px;
  }

  &__nav-left {
    &::after {
      content: url(../img/arrow-left.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__nav-right {
    margin-left: 25px;
    &::after {
      content: url(../img/arrow-right.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    margin-left: 25px;
  }

  &__box {
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 33px 40px 40px 40px;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  &__item-title {
    font-family: Ruda;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: $white;
    line-height: 29px;
  }

  &__item-link {
    color: $white;
  }
}
