/* Color styles */
$green: #5bd051;
$grey-dark: #343440;
$grey: #a2a2a2;
$grey-mid: #d6d6d6;
$white: #ffffff;
$grey-light: #ebebeb;
$grey-very-light: #f0f0f0;
$blue-very-light: #dfeffc;
$blue-light: #b5daf8;
$blue: #2d97ea;
$blue2: #1d75b9;
$magenta: #e62f6d;
$purple: #92278f;

/* Effect styles */
$blur-dark-15: 20px 0px 10px rgba(52, 52, 64, 0.2);
$drop--shadow: 30px 0px 10px rgba(52, 52, 64, 0.15);
