@media (max-width: 1320px) {
  .about {
    padding: 50px 0 54px;

    &__aside-info {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 960px) {
}

@media (max-width: 640px) {
  .about {
    padding: 34px 0 36px;
  }
}
